

@font-face {
    font-family: 'Ker';
    src: url('../fonts/Keraleeyam-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mer';
    src: url('../fonts/Meera-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ver';
    src: url('../fonts/verabi.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scroll{
    overflow: scroll;
    height: 95vh;
}
.section{
    display: flex;
}

.left-panel{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 20%;
    background-color: #5ca54b;
}

.right-panel{
    margin: 2%;
    width: 80%;
}

.logo{
    width: 150px;
    margin: 25px 0 75px 0;
    padding: 35px;
}

.nav-items li{
    list-style: none;
    border-top: 1px solid white;
    padding: 10px;
}

.nav-items li a{
    text-decoration: none;
    color: white;
    font-family: Axiforma;
}

#facebook-logo img{
    width: 30px;
}

.contents{
    display: flex;
    flex-wrap: wrap;
}

.Title{
    font-family: Ver;
    font-size: 10vh;
    color: #5ca54b;
}

.contents h2{
    font-family: Ker;
    background-color: #5ca54b;
    color: white;
    margin: 0.5%;
    margin-left: 0;
    margin-right: 2%;
    padding: 15px 90px 10px 60px;
    width: max-content;
    font-size: vh;
    font-stretch: 10px;
    letter-spacing: 1px;
    font-weight: 1;
}

hr{
    color: #5ca54b;
    width: 500px;
}

.Semi{
    
    font-family: Ker;
    color: #434343;
    font-weight: 1;
    letter-spacing: .5px;
    font-size: 6vh;
    text-align: left;
    
}

.SubSemi{
    
    font-family: Ker;
    color: #5ca54b;
    font-weight: 1;
    letter-spacing: 1px;
    font-size: 3.5vh;
     text-align: left;
    
}


.SubSemi-M{
    
    font-family: Ker;
    color: #5ca54b;
    font-weight: 1;
    letter-spacing: 1px;
    font-size: 5vh;
    text-align: left;
    font-style: italic;
    
}

.data{
    font-family: Mer;
    color: #434343;
    font-size: 20px;
}


@media screen and (max-width:768px){

    .Semi{
    
        font-family: Ker;
        color: #434343;
        font-weight: 1;
        letter-spacing: .5px;
        font-size: 4vh;
        text-align: left;
        
    }
    
    .SubSemi{
        
        font-family: Ker;
        color: #5ca54b;
        font-weight: 1;
        letter-spacing: 1px;
        font-size: 3vh;
        text-align: left;
        
        
}

.Title{
    display: none;
}



}



